<!--<h3>Import Categories</h3>-->
<div class='row'>
    <div class="alert alert-success" role="alert" id='importAlert'>
    </div>
    <div class='col mx-4 dropzone' id='dropTarget'>
        <form id='fileUploadForm' enctype='multipart/form-data'>

        <div id='dropInstructions'>
            <strong><p>Drag & Drop your CSV file here</p></strong>
            <p>or</p> 
        

            <div class='form-group'>
            <label for='fileSelect' id='fileLabel'>Click here to upload</label>
            <input type='file' id='fileSelect' name='csvFile'/> 
            </div>
        </div>

        <div id='importButtonArea'>
            <button type='submit' id='importButton' class='btn btn-primary btn-lg'>Import your CSV</button>
            <button id='cancelImport' class='btn btn-danger'>Cancel Import</button>
        </div>
        </form>
    </div>

    <div id='importProgressArea' class='col mx-4'>
        <span>Importing categories</span>
        <div id='importProgress' class="progress">
            <div 
            class="progress-bar" 
            role="progressbar" 
            style="width: 0%;" 
            aria-valuenow="0" 
            aria-valuemin="0" 
            aria-valuemax="100"></div>
        </div>
        <button id='restartLink' class='btn btn-primary my-2'>Click here to start over</button>
        
    </div>
</div>