<h3>Import Categories</h3>
<div class='row'>
    <div class="alert alert-success" role="alert" id='importAlert'>
    </div>
    <div class='col mx-4 dropzone' id='dropTarget'>
        <form id='fileUploadForm' enctype='multipart/form-data'>

        <div id='dropInstructions'>
            <strong><p>Drag & Drop your CSV file here</p></strong>
            <p>or</p> 
        

            <div class='form-group'>
            <label for='fileSelect' id='fileLabel'>Click here to upload</label>
            <input type='file' id='fileSelect' name='csvFile'/> 
            </div>
        </div>

        <div id='importButtonArea'>
            <button type='submit' id='importButton' class='btn btn-primary btn-lg'>Import your CSV</button>
            <button id='cancelImport' class='btn btn-danger'>Cancel Import</button>
        </div>
        </form>
    </div>

    <div id='importProgressArea' class='col mx-4'>
        <h3 id='progressHeading'>In Progress</h3>
        <ul class='list-group'>
            <li class='list-group-item'>Successful: <span id='importSuccessCount'>loading...</span></li>
            <li class='list-group-item'>Failed: <span id='importFailCount'>loading...</span></li>
            <li class='list-group-item'>Progress: <span id='importProgress'>loading...</span></li>
        </ul>
        
        <button id='restartLink' class='btn btn-primary'>Click here to start over</button>
        
    </div>
</div>