<h3>Import Categories</h3>
<div class='row'>
    <div class='col mx-4' id='dropTarget'>
        <form id='fileUploadForm' enctype='multipart/form-data'>

        <div id='dropInstructions'>
            <strong><p>Drag & Drop your CSV file here</p></strong>
            <p>or</p> 
        

            <div class='form-group'>
            <label for='fileSelect' id='fileLabel'>Click here to upload</label>
            <input type='file' id='fileSelect' name='csvFile'/> 
            </div>
        </div>

        <div id='importButtonArea'>
            <button type='submit' id='importButton' class='btn btn-primary'>Import your CSV</button>
        </div>
        </form>
    </div>

    <div id='importProgressArea' class='col mx-4'>
        <h3 id='progressHeading'>In Progress</h3>
        <p>Details</p>
        <ul>
            <li>Successful: <span id='importSuccessCount'>0</span></li>
            <li>Failed: <span id='importFailCount'>0</span></li>
            <li>Progress: <span id='importProgress'>0%</span></li>
        </ul>
    </div>
</div>