.App {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(245, 245, 245);
  min-height: 100vh;
  padding: 24px;
}
.card {
  max-width:280px;
  margin: 0 auto 16px;
}
.card-deck {
  justify-content: center;
}
.card:hover {
  box-shadow: 0px 5px 4px  #0000001d;
  cursor: pointer;
  filter: brightness(115%);
}

a {
  color: #FFF;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}