body {
  background-color: #f6f7f9;
  color: #34313f;
  font-family: "Source Sans Pro",Arial,"Helvetica Neue",sans-serif;
  font-weight: 400;
  padding: 20px 0 0;
}

a {
  color: #00B7FF;
}

.heading {
  color: #34313f;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3334;
}